{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-icon-150x150.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicons/apple-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/apple-icon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/apple-icon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/apple-icon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb1.min.css' %}">
  <!-- Your custom styles (optional) -->

  <style>
    .visible-img {
      display: inline-block !important;
    }

    .invisible-img {
      display: none !important;
    }

    .card-columns {
      column-count: 2;
    }

    .side-nav .collapsible a {
      font-size: 1rem;
    }

  </style>
  {% block css %}

  {% endblock %}
</head>

<body class="fixed-sn white-skin" style="background-color: white;">

  <!-- Main Navigation -->
  <header>

    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav  fixed" style="font-size:30px;">
      <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center">
            <a href="#" class="pl-0">
              <img id="img-black" class="" width="200px" height="40px" src="{%static 'img/logo_transparent.png'%}">
              <img id="img-white" style="display:none" width="200px" height="40px"
                src="{% static 'img/logo_transparent_white.png' %}"></a>
          </div>
        </li>

        <!-- Search Form -->
        <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li>

        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li>
              <a href="{% url 'index' %}" class="collapsible-header waves-effect active"><i
                  class="fas fa-home"></i>Home</a>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fas fa-hdd"></i>Your Storage<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'new_document' %}" class="waves-effect">Create New Document</a>
                  </li>
                  <li>
                    <a href="{% url 'storage' %}" class="waves-effect">Your Documents</a>
                  </li>
                  <li>
                    <a href="{% url 'storage' %}" class="waves-effect">Shared Documents</a>
                  </li>
                  <li>
                    <a href="{% url 'storage' %}" class="waves-effect">Public Documents</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fab fa-wpforms"></i>Your Applications<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'application' %}" class="waves-effect">Pending Applications</a>
                  </li>
                  <li>
                    <a href="{% url 'application' %}" class="waves-effect">Approved Applications</a>
                  </li>
                  <li>
                    <a href="{% url 'application' %}" class="waves-effect">Rejected Applications</a>
                  </li>
                  <li>
                    <a href="{% url 'application' %}" class="waves-effect">All Applications</a>
                  </li>
                </ul>
              </div>
            </li>
            {% if user_type == 'authority' %}
              <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fas fa-network-wired"></i>Review Applications<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'review_application' %}" class="waves-effect">Review Pending Applications</a>
                  </li>
                  <li>
                    <a href="{% url 'review_application' %}" class="waves-effect">Reviewed Applications</a>
                  </li>
                </ul>
              </div>
            </li>
            {% endif %}
            {% if user_type == 'admin' %}
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fas fa-network-wired"></i>Workflows<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'new_workflow' %}" class="waves-effect">Create new workflow</a>
                  </li>
                  <li>
                    <a href="{% url 'workflow' %}" class="waves-effect">Workflows</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fas fa-file-alt"></i>Forms<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'new_form' %}" class="waves-effect">Create new form</a>
                  </li>
                  <li>
                    <a href="{% url 'form' %}" class="waves-effect">Forms</a>
                  </li>
                </ul>
              </div>
            </li>
             <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fab fa-wpforms"></i>Application Templates<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="{% url 'new_application_step1' %}" class="waves-effect">Create a new Application Template.</a>
                  </li>
                  <li>
                    <a href="{% url 'application_templates' %}" class="waves-effect">View Application Templates</a>
                  </li>
                </ul>
              </div>
             </li>
            {% endif %}
            <!-- Side navigation links -->

          </ul></li></ul>
          <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>

      <!-- Breadcrumb -->
      <div class="breadcrumb-dn mr-auto">
        <p>{{ title }}</p>
      </div>

      <div class="d-flex change-mode">

        {% if user_type == 'admin' %}
        <div class="ml-auto mb-0 mr-3 change-mode-wrapper">
          <button class="btn btn-outline-success btn-sm">Admin</button>
        </div>
        {% elif user_type == 'authority' %}
        <div class="ml-auto mb-0 mr-3 change-mode-wrapper">
          <button class="btn btn-outline-success btn-sm">Authority</button>
        </div>
        {% else %}
        {% endif %}

        <!-- Navbar links -->
        <ul class="nav navbar-nav ml-auto mr-3">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-sm" href="#" id="userDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-plus"></i><span class="clearfix d-none d-sm-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'new_document' %}">New Document</a>
              <a class="dropdown-item" href="{% url 'fill_application' %}">Fill Application</a>
              <a class="dropdown-item">
                <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#CircularModal" style="background-color: transparent; border: none;padding:0px">
                  New Circular
                </button>
              </a>
            </div>
          </li>

        </ul>
        <!-- Navbar links -->

        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{first_name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'account' %}">My account</a>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>

        </ul>
        <!-- Navbar links -->

      </div>

    </nav>
    <!-- Navbar -->

  </header>
  <div class="modal fade" id="CircularModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Change class .modal-sm to change the size of the modal -->
      <form action="{% url 'sign_application' %}" method="POST">{% csrf_token %}
          <input name="action" value="Reject" hidden>
          <input name="id" class="id" value="" hidden>
          <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title w-100" id="myModalLabel">New Circular</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <h5>Message:</h5>
                  <input type="text" id="messageReject" placeholder="Enter text here" name="message" class="form-control">
                </div>
                <div class="modal-footer p-0">
                    <button type="submit" style="width:150px;" class="btn green btn-md">Send</button>
                </div>
              </div>
          </div>
      </form>
  </div>
  <!-- Main Navigation -->
  {% block content %}
  
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer pt-0 mt-5 rgba-stylish-light">

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center sticky-bottom">
      <div class="container-fluid">
        © 2020 Copyright: <a href="{% url 'index' %}" target="_blank"> Hexageeks</a>
      </div>
    </div>

  </footer>
  <!-- Footer -->
 
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

  <!-- HandleBar URL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

  <!-- Custom Scripts -->
  {% block scripts %}

  {% endblock %}

  <!-- Initializations -->
  <script>

    // SideNav Initialization
    $(".button-collapse").sideNav();

    var container = document.querySelector('.custom-scrollbar');
    Ps.initialize(container, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20
    });

    $(function () {
      $('#dark-mode').on('click', function (e) {

        e.preventDefault();


        $('#img-black').toggleClass('invisible-img');
        $('#img-white').toggleClass('visible-img');
        $('footer, .card').toggleClass('dark-card-admin');
        $('body, .navbar').toggleClass('white-skin navy-blue-skin');
        $('body').toggleClass('dark-bg-admin');
        $('h6, .card, p, td, th, i, li a, h4, input, label').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
        $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
        $('.gradient-card-header').toggleClass('white black lighten-4');
        $('.list-panel a').toggleClass('navy-blue-bg-a text-white').toggleClass('list-group-border');
        $('.custom-dark').toggleClass('white-text unique-color-dark lighten-3 darken-3 text-white')
      });
    });

  </script>
</body>

</html>
