{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <!-- Main layout -->
  <main>
    <div class="container"></div>
        <style>
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            background-color: green;

          } 
        </style>
      <div class="black-text">
            <ul class="nav md-tabs nav-justified green mb-0" id="myTab" role="tablist">
                <li class="nav-item">
                  <a href="#AllApplication" class="nav-link active" data-toggle="tab"><h5 class="font-weight-500 my-1" >All Applications</h5></a>
              </li>
                  <li class="nav-item">
                      <a href="#PendingApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Pending Applications</h5></a>
                  </li>
                  <li class="nav-item">
                      <a href="#ApprovedApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Approved Applications</h5></a>
                  </li>
                  <li class="nav-item">
                    <a href="#RejectedApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Rejected Applications</h5></a>
                </li>
            </ul>
        </div>
      <div class="tab-content">
          <div class="tab-pane fade show active" id="AllApplication">
            <!-- Section: Applications -->
              <section class="pb-12">
                {% if applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Applications!</h4>
                    <p>Please apply for Application.</p>
                </div>
                {% else %}

                   <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in applications %}
                          <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.createrName }}</td>
                          <td>{{ application.progress }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><button class="btn btn-outline-default btn-sm btn-rounded waves-effect">View</button></td>
                                </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="PendingApplication">
              <!-- Section: Applications -->
              <section class="pb-12">
               {% if applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Pending Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.createrName }}</td>
                          <td>{{ application.progress }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><button class="btn btn-outline-default btn-sm btn-rounded waves-effect">View</button></td>
                                </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>  
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="ApprovedApplication">
             <!-- Section: Applications -->
              <section class="pb-12">
                {% if applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.createrName }}</td>
                          <td>{{ application.progress }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><button class="btn btn-outline-default btn-sm btn-rounded waves-effect">View</button></td>
                                </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>  
              <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="RejectedApplication">
            <!-- Section: Applications -->
             <section class="pb-12">
               {% if applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.createrName }}</td>
                          <td>{{ application.progress }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><button class="btn btn-outline-default btn-sm btn-rounded waves-effect">View</button></td>
                                </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
             </section>  
             <!-- Section: data tables -->
         </div>
      </div>
    </div>

  </main>
  <!-- Main layout -->
{% endblock %}