{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- MDBootstrap Datatables  -->
<link href="{% static 'css/addons/datatables.min.css' %}" rel="stylesheet">
<style>
  table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
      bottom: .5em;
    }
  .popup {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	/* background-color: aqua; */
}


  
</style>
  <!-- Main layout -->

  <main>
    <div class="container">
        <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">

              <form action="{% url 'sign_application' %}" method="POST">{% csrf_token %}
              <input name="action" value="Sign" hidden>
              <input name="id" class="id" value="" hidden>

              <!-- Change class .modal-sm to change the size of the modal -->
              <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Are you sure, you want to Sign? </h4>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" style="width:150px;" class="btn btn-success btn-lg">Sign</button>
                          <button type="button" style="width:150px;" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-lg">
                                Cancel
                          </button>
                      </div>
                </div>
              </div>
              </form>
            </div>
            <!-- Central Modal Small -->
        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <!-- Change class .modal-sm to change the size of the modal -->
            <form action="{% url 'sign_application' %}" method="POST">{% csrf_token %}
                <input name="action" value="Reject" hidden>
                <input name="id" class="id" value="" hidden>
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Are you sure, you want to Reject?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <h5>Comments:</h5>
                        <input type="text" id="messageReject" placeholder="Enter text here" name="message" class="form-control">
                      </div>
                      <div class="modal-footer">
                          <button type="submit" style="width:150px;" class="btn btn-danger btn-lg">Reject</button>
                          <button type="button" style="width:150px; background-color:gray; color:white;" data-dismiss="modal" aria-label="Close" class="btn btn-lg">
                                Cancel
                          </button>
                      </div>
                    </div>
                </div>
            </form>
        </div>

    <!-- Button trigger modal -->
    <button id="open_cost_saving_popup" type="button" class="btn btn-primary" data-toggle="modal" data-target="#sideModalTR" hidden>
      Open popup
    </button>
    <!-- To change the direction of the modal animation change .right class -->
    <div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
      <div class="modal-dialog modal-side modal-bottom-right" role="document">
        <div class="modal-content" style="background-color: #8fd19e;">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Kudos!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-size:20px">You save <b>Rs {{cost_per_paper}} </b> everytime you submit an<br> e-application.<br>
              You have saved <b>Rs {{ money_saved }} </b> in total.<br>
              You saved <b>{{ trees_saved }}</b> trees and counting...<br></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Modal Top Right -->
  
    <div class="modal fade" id="centralModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modalContent">
            </div>
            <div class="modal-content">
                <div class="modal-footer p-1">
                    {% if isUser %}
                        <button type="button" data-dismiss="modal" class="btn btn-secondary btn-md" style="font-size:15px; width:120px;">Cancel</button>
                    {% else %}
                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#signModal" class="btn btn-success btn-md" style="font-size:15px; width:120px;">Sign</button>
                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#rejectModal" class="btn btn btn-md" style="font-size:15px; width:120px; color: white; background-color: tomato;">Reject</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <style>
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            background-color: green;

          } 
        </style>
      <div class="black-text">
            <ul class="nav md-tabs nav-justified green mb-0" id="myTab" role="tablist">
                <li class="nav-item">
                  <a href="#AllApplication" class="nav-link active" data-toggle="tab"><h5 class="font-weight-500 my-1" >All Applications</h5></a>
              </li>
                  <li class="nav-item">
                      <a href="#PendingApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Pending Applications</h5></a>
                  </li>
                  <li class="nav-item">
                      <a href="#ApprovedApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Approved Applications</h5></a>
                  </li>
                  <li class="nav-item">
                    <a href="#RejectedApplication" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  >Rejected Applications</h5></a>
                </li>
            </ul>
        </div>
      <div class="tab-content">
          <div class="tab-pane fade show active" id="AllApplication">
            <!-- Section: Applications -->
              <section class="pb-12">
                {% if all_applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Applications!</h4>
                    <p>Please apply for Application.</p>
                </div>
                {% else %}

                   <div class="">
                    <table id="allApplicationsDT" class="table table-striped table-bordered table-sm" cellspacing="0">
                        <thead>
                          <tr class="table-success">
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in all_applications %}
                          <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.creatorName }}</td>
                          <td>{{ application.stage }}/{{ application.stages }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><span onclick="Info(this)"> <i class="fas fa-eye" style="cursor:pointer" aria-hidden="true"></i></span>
                              <span class="ml-2" id="{{ application.id }}" data-toggle="modal" data-target="#centralModalLg" onclick="Info(this)"><i  style="cursor:pointer" class="fas fa-info-circle"></i></span>
                          </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="PendingApplication">
              <!-- Section: Applications -->
              <section class="pb-12">
               {% if pending_applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Pending Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="">
                    <table id="pendingApplicationsDT" class="table table-striped table-bordered table-sm" cellspacing="0">
                        <thead>
                          <tr class="table-success">
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col">Actions</th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in pending_applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.creatorName }}</td>
                          <td>{{ application.stage }}/{{ application.stages }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><span onclick="on_view_click(this)"> <i class="fas fa-eye" style="cursor:pointer" aria-hidden="true"></i></span>
                              <span class="ml-2" id="{{ application.id }}" data-toggle="modal" data-target="#centralModalLg" onclick="Info(this)"><i  style="cursor:pointer" class="fas fa-info-circle"></i></span>
                          </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>  
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="ApprovedApplication">
             <!-- Section: Applications -->
              <section class="pb-12">
                {% if approved_applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Approved Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="">
                    <table id="approvedApplicationsDT" class="table table-striped table-bordered table-sm" cellspacing="0">
                        <thead>
                          <tr class="table-success">
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                              <th scope="col">Actions</th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in approved_applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.creatorName }}</td>
                          <td>{{ application.stage }}/{{ application.stages }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><span onclick="on_view_click(this)"> <i class="fas fa-eye" style="cursor:pointer" aria-hidden="true"></i></span>
                              <span class="ml-2" id="{{ application.id }}" data-toggle="modal" data-target="#centralModalLg" onclick="Info(this)"><i  style="cursor:pointer" class="fas fa-info-circle"></i></span>
                          </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
              </section>  
              <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="RejectedApplication">
            <!-- Section: Applications -->
             <section class="pb-12">
               {% if rejected_applications|length < 1 %}
                <div class="mt-3 container text-center">
                    <h4>You don't have any Application!</h4>
                    <p>Please apply for application.</p>
                </div>
                {% else %}

                   <div class="">
                    <table id="rejectedApplicationsDT" class="table table-striped table-bordered table-sm" cellspacing="0">
                        <thead>
                          <tr class="table-success">
                            <th scope="col">Name</th>
                            <th scope="col">Submitted By</th>
                            <th scope="col">Current Stage</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                          <tbody>
                          {% for application in rejected_applications %}
                            <tr>
                          <td>{{ application.name }}</td>
                          <td>{{ application.creatorName }}</td>
                          <td>{{ application.stage }}/{{ application.stages }}</td>
                          <td>{{ application.timestamp }}</td>
                          <td><span onclick="on_view_click(this)"> <i class="fas fa-eye" style="cursor:pointer" aria-hidden="true"></i></span>
                              <span class="ml-2" id="{{ application.id }}" data-toggle="modal" data-target="#centralModalLg" onclick="Info(this)"><i  style="cursor:pointer" class="fas fa-info-circle"></i></span>
                          </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                   </div>
                {% endif %}
             </section>  
             <!-- Section: data tables -->
         </div>
      </div>
    </div>
  </main>
  <!-- Main layout -->
{% endblock %}
{% block scripts %}
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#allApplicationsDT').DataTable();
    $('#pendingApplicationsDT').DataTable();
    $('#approvedApplicationsDT').DataTable();
    $('#rejectedApplicationsDT').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
  
  document.querySelector('#open_cost_saving_popup').click();
</script>
<script id="view_application_modal" type="text/template">
      <!-- Change class .modal-sm to change the size of the modal -->
      {% verbatim %}

          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">{{ application_title }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="border-bottom: 1px solid #91b59c">
              <h5>Date Submitted : {{date}}</h5>
              <h6>Tracking Id: {{ application_id }}</h6>
              <hr>
              <h4>Form </h4>
              {{#each form}}
            <div style="padding:2px;">
                <h5>Question: {{ @key }}</h5>
                <h6 style="margin-left:15px;">Response: {{ this }}</h6>
            </div>
              {{/each}}
          </div>
          <div class="modal-body row ml-3 p-2">
              <div class="col-12">
                <h4>Workflow</h4>
              </div>
              <div class="col-6">
                <h5>Current Stage</h5>
              </div>
              <div class="col-6">
                <h5>{{stage}}</h5>
              </div>
              <div class="col-6">
                <h5>Total Stages</h5>
              </div>
              <div class="col-6">
                <h5>{{stages}}</h5>
              </div>
              <div class="col-6">
                <h5>Status</h5>
              </div>
              <div class="col-6">
                <h5>{{status}}</h5>
              </div>
          </div>
      {% endverbatim %}
        <!-- Central Modal Small -->
</script>
<script>
    const view_application_modal_template = Handlebars.compile(document.querySelector('#view_application_modal').innerHTML);
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    const csrftoken = getCookie('csrftoken');

    function Info(o){
    document.querySelector('#modalContent').innerHTML = "";
    const id = o.id;
    const application_request = new XMLHttpRequest();
    application_request.open('POST','fetch_application');

    application_request.onload = () =>{
        var application = JSON.parse(application_request.responseText);

        var arr = document.getElementsByClassName('id');
        for(i=0; i<arr.length; i++){
            arr[0].value = application['_id']['$oid'];
        }

        console.log(application)
        current_status = "Pending"
        if( application['status'] == 1 ){
            current_status = "Approved"
        }
        if( application['status'] == -1 ){
            current_status = "Rejected"
        }
        const application_modal = view_application_modal_template({
            'application_title': application['name'],
            'application_id': application['_id']['$oid'],
            'form': application['form'],
            'date': new Date(parseInt(application['timestamp']['$date'])),
            'stage': application['stage'],
            'stages': application['stages'],
            'status': current_status
        });
        document.querySelector('#modalContent').innerHTML = application_modal;
    };

    const data = new FormData();
    data.append('csrfmiddlewaretoken', csrftoken);
    data.append('id', id);
    application_request.send(data);
    }

</script>
{% endblock %}
