{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <!-- Main layout -->
  <main>
    <div class="container"></div>
        <style>
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            background-color: #29a329;
          } 
        </style>
        <ul class="nav nav-pills nav-justified" >
          <li class="nav-item">
              <a href="#YourDocuments" class="nav-link active" data-toggle="tab"><h5 class="font-weight-500 my-1" style="color:black;">Your Documents</h5></a>
          </li>
          <li class="nav-item">
              <a href="#SharedDocuments" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  style="color:black;">Shared Documents</h5></a>
          </li>
          <li class="nav-item">
              <a href="#PublicDocuments" class="nav-link" data-toggle="tab"><h5 class="font-weight-500 my-1"  style="color:black;">Public Documents</h5></a>
          </li>
      </ul>
      <hr>
      <div class="tab-content">
          <div class="tab-pane fade show active" id="YourDocuments">
            <!-- Section: Applications -->
              <section class="pb-12">
                <div class="row">
                  <div class="col-12">
                    
                    <!-- Card -->
                    <div class="card">                      
                      <!-- Card content -->

                      {% if docs|length < 1 %}
                        <div class="mt-3 container text-center">
                            <h4>Your Storage is empty!</h4>
                            <p>Please add new Documents.</p>
                        </div>
                      {% else %}


                      <div class="card-body card-columns">
                        {% for doc in docs %}
                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="your_document_card{{doc.id}}" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                {% if not doc.file_url %}
                                <img src="{% static 'img/file_404.png' %}" class="img-fluid img-thumbnail h-100" alt="{{ doc.fileName }}">
                                {% else %}
                                <img src="{{ doc.file_url }}" class="img-fluid img-thumbnail" style="object-fit: fill;" alt="{{ doc.fileName }}">
                                {% endif %}
                                <a class="rotate-btn" data-card="your_document_card{{doc.id}}"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">{{doc.fileName}}</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="your_document_card{{doc.id}}"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  {{doc.fileDesc}}
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Card -->
                        {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>  
              </section>  
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="SharedDocuments">
              <!-- Section: Applications -->
              <section class="pb-12">
                <div class="row">
                  <div class="col-12">
                    
                    <!-- Card -->
                    <div class="card">                      
                      <!-- Card content -->
                      <div class="card-body card-columns">
                        
                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="shared_document_card-1" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="shared_document_card-1"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="shared_document_card-1"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="shared_document_card-2" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="shared_document_card-2"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="shared_document_card-3"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <!-- Card -->
                      </div>  
                    </div>
                  </div>
                </div>  
              </section>  
            <!-- Section: data tables -->
          </div>
          <div class="tab-pane fade" id="PublicDocuments">
             <!-- Section: Applications -->
              <section class="pb-12">
                <div class="row">
                  <div class="col-12">
                    
                    <!-- Card -->
                    <div class="card">                      
                      <!-- Card content -->
                      <div class="card-body card-columns">
                        
                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="public_document_card-1" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="public_document_card-1"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="public_document_card-1"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Card -->
                        
                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="public_document_card-2" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="public_document_card-2"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="public_document_card-2"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                        </div>
                        </div>
                        <!-- Card -->
                        
                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="public_document_card-3" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="public_document_card-3"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="public_document_card-3"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card-wrapper mb-3">
                          <div id="public_document_card-4" class="card card-rotating">

                            <div class="face front">
                              <div class="view overlay">
                                <img src="https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid " alt="smaple image">
                                <a class="rotate-btn" data-card="public_document_card-4"><div class="mask flex-center rgba-blue-light">
                                    <h4 class="white-text">File Name</h4>
                                </div></a>
                              </div>
                            </div>

                            <div class="face back">
                              <div class="card-body custom-dark">
                                <!-- Content -->
                                <h6 class="font-weight-bold mb-0">File Name
                                  <a class="rotate-btn float-right" data-card="public_document_card-4"><i class="fas fa-undo"></i></a>
                                </h6> 
                                <hr>
                                <p>
                                  File Description ....
                                </p>
                              </div>

                              <div class="card-footer custom-dark">
                                <a class="link-text text-center mt-2">
                                  <h6>View <i class="fas fa-angle-double-right"></i></h6>
                                </a>
                              </div>
                            </div>
                          </div>  
                        </div>
                        <!-- Card -->
                      </div>  
                    </div>
                  </div>
                </div>  
              </section>  
              <!-- Section: data tables -->
          </div>
      </div>
    </div>

  </main>
  <!-- Main layout -->

{% endblock %}